[user]
	email = willson.wang@datadoghq.com
	name = Willson Wang
[core]
	hooksPath = /usr/local/dd/global_hooks
[url "git@github.com:"]
	insteadOf = https://github.com/
	insteadOf = git://github.com/
[push]
	autoSetupRemote = true
